{% extends "base.html" %}
{% block content %}

<h2>All Gameweeks</h2>

<div class="grid">
  {% for a in analytics %}
  <a class="gw-card colored" href="/gameweek/{{ a.gameweek }}">
    <h3>GW {{ a.gameweek }}</h3>

    {% if a.mvp %}
      <p><strong>⭐ MVP:</strong> {{ a.mvp.name }} ({{ a.mvp.points }} pts)</p>
    {% endif %}

    {% if a.top_scorers %}
      <p class="muted">
        <strong>Top scorers:</strong>
        {{ a.top_scorers | map(attribute='name') | join(', ') }}
      </p>
    {% endif %}
  </a>
  {% endfor %}
</div>

{% endblock %}