<!DOCTYPE html>
<html>
<head>
    <title>Players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>Premier League Stats</h2>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/gameweeks">Gameweeks</a>
        <a href="/players">Players</a>
    </div>
</div>

<div class="container">
    <h1>Players Stats</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Minutes</th>
            <th>Clean Sheets</th>
            <th>Saves</th>
            <th>Total Points</th>
        </tr>

        {% for p in players %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.team }}</td>
            <td>{{ p.stats.get("goals_scored", "-") }}</td>
            <td>{{ p.stats.get("assists", "-") }}</td>
            <td>{{ p.stats.get("minutes", "-") }}</td>
            <td>{{ p.stats.get("clean_sheets", "-") }}</td>
            <td>{{ p.stats.get("saves", "-") }}</td>
            <td>{{ p.stats.get("total_points", "-") }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
